.card {
  max-width: 250px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card img {
  aspect-ratio: 4/3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card h4 {
  margin-top: 8px;
  text-transform: capitalize;
  padding-left: 5px;
  color: #222;
  font-weight: 600;
}
