@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;600;700&family=Familjen+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --heading-font: 'Arima', cursive;
  --body-font: 'Familjen Grotesk', sans-serif;
  --text-grey: #777;
  --rose: rosybrown;
  --black-text: #111;
  --border-color: #ddd;
}
::selection {
  background-color: var(--rose);
  color: #222;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
  font-family: var(--body-font);
  color: var(--black-text);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font) !important;
}
img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}
.container {
  width: 90%;
  margin-inline: auto;
  padding-inline: 15px;
  position: relative;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.btn {
  all: unset;
  border: 1px solid;
  padding: 5px 20px;
  text-transform: capitalize;
  font-size: clamp(0.8rem, 1vw, 1rem);
  cursor: pointer;
  position: relative;
  font-weight: 500;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  height: 102%;
  left: -25%;
  width: 0%;
  transform: skew(-22deg);
  transition-duration: 0.6s;
  z-index: -1;
  background-color: var(--rose);
}
.btn:hover {
  border-color: var(--rose);
  color: white;
}
.btn:hover::before {
  width: 150%;
}
