.ingred {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.ingred ul {
  list-style: none;
}
.ingred ul li {
  padding-block: 10px;
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.ingred ul li span {
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.ingred ul li span i {
  display: block;
  color: rosybrown;
}
.ingred ul li .ingred-item::first-letter {
  text-transform: capitalize;
}


